__pycache__/
*.pyc
*.o
*.a
*.so
*.lo
*.la
*.dll
*.dylib
*.ncb
*.sdf
*.suo
*.obj
*.ilk
*.pdb
*.idb
*.res
*.exe
*.msi
*.objd
*~
*.bak
*.swp
*.swo
*.log
*.lock
*.sublime-workspace
.vscode/
.idea/
.env
.venv/
dist/
build/
*.egg-info/
.coverage
